/* Styles go here */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
* {
  margin: 0;
  padding: 0;
  font: 'adriane', Georgia, serif;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /*display: flex;
  display: -webkit-flex;
    justify-content: center;
  -webkit-justify-content: center;
    align-items: center;
  -webkit-align-items: center;*/
  font: 'adriane', Georgia, serif;
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}
body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}
#container {
  min-height: 100%; 
  position: relative;
}

#main {
  overflow: auto;
  min-height: 100vh;
  position: relative;
}

/*#mainRow > div {
  border-radius: 10px;
}*/

a {
  color: white;
}

navlink {
  color: black;
}

.row {
    margin-right: 0;
}

h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 36px;
  text-align: center;
}

header {
    /*position: fixed;*/
  height: 100vh;
  width: 100%;
  clear: both;
  font-size: 20px;
  text-align: center;
  background-image: url("../images/izayah.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /*background: #242943;*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*border-bottom: 3px solid #aaa;*/
  box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.5);
}
.hInner {
    width: 60%;
    margin: 0 auto;
}
#bigHeader {
    font-size: 64px;
    color: white;
    text-align: left;
}
.hInner h2 {
    font-size: 36px;
    text-align: left;
}
h2,h3,h4 {
    text-align: center;
    margin-top: 0;
    color: white;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}
header h1{
    color: white;
}
.myPort, .contactMe {
    padding: 30px 0;
}

.box-shade {
  box-shadow: 4px 5px 17px 0px rgba(0, 0, 0, 0.5);
  background: #fff;
  border-radius: 10px;
  border: 2px solid black;
}

#portfolio {
  height: 100vh;
  margin: 0 auto;
  padding: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /*display: flex;*/
  /*justify-content: center;
  align-items: center;*/
  /*width: 60%;*/
  background: #242943;
  /*background-color: #EAEAEA;*/
}
#portfolio a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.port_header {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid white;
}
.carousel {
    margin: 30px auto;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.carousel-item {
    visibility: visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    /*position: relative;*/
    background-color: #fff;
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    /*z-index: 0;*/
  transition: 0.6s all linear;
  border: 1px solid white;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;
}

.carousel-item__image {
    width: 60%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;
    -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   /*position:relative;*/
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}
.carousel-item__image img {
    max-height: 100%;
    max-width: 100%;
}

.carousel-item__subtitle {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    color: #7E7E7E;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item__title {
    margin: 15px 0 0 0;
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #2C2C2C;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7e7e7e;
    line-height: 22px;
    margin-bottom: 35px;
}
.desc_row{
    display: flex;
    justify-content: center;
}

.carousel-item--1 .carousel-item__image{
  background-image: url('../images/soccerTwo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
}


.carousel-item--2 .carousel-item__image{
  background-image: url('../images/date.jpg');
}

.carousel-item--3 .carousel-item__image{
  background-image: url('../images/journal.jpg');
}

.carousel-item__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
    text-decoration: none;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    align-items: center;
}

.carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
    bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    fill: #5d5d5d;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
   z-index: 1;
  display: flex;
  visibility: visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
    transition: 0.6s all ease-in-out;
    visibility: visible;
}

.active .carousel-item__image{ 
    transition: 0.6s all ease-in-out;
    transform: translateX(0);
}

/*Bottom section: about me and tech skills*/

#myInfo {
    background-color: #2A304A;
    color: white;
    display: flex;
    justify-content: flex-start;
}
.box {
  width: 50%;
  padding: 40px;
  border-top: 1px solid #3A3E59;
  border-bottom: 1px solid #3A3E59;
  border-right: 1px solid #3A3E59;
}

#leftSide {
  border-left: 1px solid #3A3E59;
}

.auth-image {
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 15px;
  float: left;
  border-radius: 2px;
}

.hoverShow {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

footer {
  width: 100%;
  height: auto;
  padding: 30px;
  clear: both;
  color: #fff;
  text-align: center;
  background: #242943;
  /*border-top: 1px solid #3A3E59;*/
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
footer a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
footer .icon {
  width: 50px;
}
.footerMain {
  width: 90%;
}
.skills {
  height: 100%;
}
.langs {
  display: flex;
  align-items: center;
  min-height: 22%;
  border-top: 1px solid #3A3E59;
}
.langs h4 {
  margin-right: 20px;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  /*margin-bottom: 5px;*/
}
.icon, .icon2, .iconify {
  background-color: white;
  text-decoration: none;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  color: black;
}
.icon {
  font-size: 20px;
  width: 40px;
}
.icon:hover {
  background-color: lightblue;
  text-decoration: none;
}
.iconify {
  font-size: 40px;
  width: 40px;
}
footer h5 {
    color: white;
    margin-right: 15px
}

/* MEDIA QUERIES */

@media only screen and (min-width: 2000px){
  #myInfo {
    justify-content: center;
    background-color: #242943;
  }
  .box {
    width: 40%;
    background-color: #2A304A;
  }
}

@media only screen and (min-width: 1131px) and (max-width: 1377px){
  #manyIcons {
    padding: 10px
  }
}
@media only screen and (max-width: 1130px) {
    #myInfo {
         display: block;
    }
    .box {
        width: 100%;
        margin: 0 auto;
    }
    #leftSide {
        border-bottom: 1px solid #3A3E59;
        border-right: none;
    }
    .langs {
        padding: 10px;
    }
}
@media only screen and (max-width: 1130px) and (orientation: portrait){
    #bigHeader {
      font-size: 48px;
    }
    #portfolio {
      padding: 40px;
    }
    .carousel {
      margin: 30px auto 20px auto;
    }
}
@media only screen and (max-width: 1130px) and (orientation: landscape){
    #bigHeader {
      font-size: 36px;
    }
    .hInner h2 {
      font-size: 20px;
    }
    #portfolio {
        padding: 30px 40px;
        height: 600px;
    }
    .carousel {
      height: 70%;
    }
    .carousel-item__description {
      display: none;
    }
    .desc_row {
      margin-top: 30px;
    }
    #secondLink {
      margin-left: 20px;
    }
}
@media only screen and (max-width: 785px) and (orientation: portrait) {
    #bigHeader {
      font-size: 48px;
    }
    .hInner h2 {
      font-size: 28px;
    }
    .port_header {
      width: 100%;
    }
    .carousel {
      width: 100%;
    }
    .carousel-item {
      display: initial;
    }
    .carousel-item__title {
      font-size: 36px;
    }
    .carousel-item__info {
      width: 100%;
      height: 40%;
    }
    .carousel-item__description {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .carousel-item__image {
        width: 100%;
        height: 60%;
    }
    #portfolio {
      padding: 40px;
    }
    .carousel {
      margin: 20px auto;
    }
    .box {
      padding: 30px 30px 20px 30px;
    }
}
@media only screen and (max-width: 785px) and (orientation: landscape) {
    #bigHeader {
      font-size: 36px;
    }
    .hInner h2 {
      font-size: 20px;
    }
    .hInner i {
      margin-top: 10px;
      font-size: 1em;
    }
    #portfolio {
        padding: 30px;
        height: 600px;
    }
    .carousel {
      height: 70%;
    }
    .carousel-item__title {
      font-size: 24px;
    }
    .carousel-item__description {
      display: none;
    }
    .desc_row {
      margin-top: 30px;
    }
    #secondLink {
      margin-left: 40px;
    }
}
@media only screen and (max-width: 760px){
    .langs h4 {
      font-size: 16px;
      min-height: none;
      /*display: none;*/
    }
}
@media only screen and (max-width: 480px){
    #bigHeader {
      font-size: 28px;
    }
    .hInner h2 {
      font-size: 20px;
    }
    #portfolio {
      padding: 40px;
    }
    .carousel {
      height: 70%;
      margin: 30px auto 20px auto;
    }
    .carousel-item__title {
        font-size: 20px;
        margin: 0;
    }
    .carousel-item__description {
      display: none;
    }
    .langs {
      display: initial;
      height: 180px;
      border-top: none;
    }
    .langs h4 {
      margin-right: 5px;
      font-size: 12px;
      display: block;
    }
    .box {
      padding: 20px;
    }
    .icons {
      justify-content: center;
    }
    .icon, .iconify {
      margin-bottom: 5px;
    }
    footer h5 {
        margin-right: 10px
    }
}

@media only screen and (max-width: 325px){
  .hInner i {
    margin-top: 30px;
    font-size: 1em;
  }
  #portfolio {
    padding: 20px;
  }
  #portfolio i {
    font-size: 1.5em;
  }
  .carousel-item__title {
    margin: 0;
    font-size: 18px;
  }
  .desc_row a {
    font-size: 8px;
  }
  .auth-image {
    width: 100%;
    margin-bottom: 8px;
  }
}